.header {
    height: 7.7vh;
    line-height: 7.7vh;
    width: 100%;
    background: #2878D7;
  }
  .header span {
    font-size : 0.9rem;
    padding: 0 0 0 0.5%;
    color: white;
    font-weight: 500;
    vertical-align: middle;
  }