* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe', 'Segoe UI', 'Arial', 'sans-serif';
}
#container {
  width: 100vw;
  height: 100vh;
}
#container .header {
  height: 7.7vh;
  line-height: 7.7vh;
  width: 100%;
  background: #2878D7;
}
.header span {
  font-size : 0.9rem;
  padding: 0 0 0 0.5%;
  color: white;
  font-weight: 500;
  vertical-align: middle;
}
#container .working-area {
  height: 92.3vh;
  width: 100vw;
}
.working-area .side-panel {
  height: 100%;
  width:  3.7%;
  float: left;
  border-right: 1px solid rgba(222,222,222,0.7);
  position: relative;
  transition: 0.3s;
  background: #F4F4F4;
  overflow-y: auto;
}
.menu-button {
  width: 2.087vh;
  margin: 3.5vh 0 2.4vh 0.384vw;
  padding: 1.1vh 0.768vw 1.6vh 0.768vw;
  background: none;
  outline: none;
  cursor: pointer;
}
.bars {
  margin: 0.5vh 0 0 0;
  width: 1.3vw;
  height: 0.16vh;
  background: #2878D7;
}

.menu-button:hover {
  background: #FAFAFA;
}

 .ListOfTask {
  height: 4.8vh;
  line-height: 4.8vh;
} 
.navigation-button {
  width: 3.5vw;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  color:#2878D7;
  float: left;
  opacity: 0.6;
  cursor: pointer;
}
.navigation-detail {
  width: 18.5vw;
  height: 6vh;
  display: block;
  font-size: 30px;
  margin:0 0 0 -18.5vw;
  color:#2878D7;
  font-size: 15px;
  background: none;
  outline:none;
  border: none;
  opacity: 0.6;
}
.menu-icon{
  width: 3.5vw;
  height: 6vh;
  float: left;
  cursor: pointer;
}
.menu-icon img {
  margin: 1.6vh 0 0 1.152vw;
  width: 1.4vw;
  height: 2.9vh;
  opacity: 0.5;
}

.menu-name, .list-name {
  width: 18.5vw;
  height: 6vh;
  font-size: 14px;
  text-align: left;
  line-height: 6vh;
  vertical-align: middle;
  background: none;
  outline:none;
  border: none;
  opacity: 0.9;
  color: rgb(52, 55, 61);
  cursor: pointer;
}
.menu-name-width {
  margin:0 0 0 -18.5vw;
}

.list-name-width {
  margin:0 0 0 3.5vw;
}
.side-panel-menu:hover, .list-name:hover {
   background: #FAFAFA;
}
.list-of-task img {
  margin: 1.6vh 0 0 1.152vw;
  width: 3.2vh;
  height: 1.464vw;
  float: left;
}
.newListInput::placeholder {
  color: #2878D7;
  opacity: 1;
}
.newListInput:focus {
  background: #FAFAFA;
}
.working-area .list-detail {
  height: 100%;
  width: 68%;
  display: inline-block;
  background: #FFFFFF;
  overflow-y: auto;
}
.list-header {
  margin: 2.08vh 0 0 0vw;
  height: 7.7vh;
  width: 100%;
}
.list-of-task-name {
  height: 7.7vh;
  line-height: 7.7vh;
  vertical-align: middle;
  font-size: 20px;
  color:#2878D7;
  font-weight: 600;
  margin: 0 1.1vw 0 1.54vw;
}
.list-header img {
  width: 0.64vh;
  height: 0.3vw;
  margin: 0 0 0 -0.22vw;
}
.add-new-task {
  height: 7.7vh;
  width: 94%;
  display: flex;
  margin: 0 3% 0 3%;
  border-bottom: 1px solid rgba(233,233,233,0.9);
}
.add-task-icon {
  float: left;
  cursor: pointer;
  padding: 2.2vh 0.6vw 0 0;
}
.add-task-icon img{
    width: 30;
    height: 30;
    margin: 0 0 0 0;
}
.task-name-input {
  float: left;
  width: 100%;
  padding: 0.7vh 0 0 0.6vw;
  font-size: 15px;
  outline: none;
  border: none;
  opacity: 0.7;
}
.task-name-input::placeholder {
  color: #2878D7;
}
.task-name-input:focus::placeholder {
  color: black;
  opacity: 0.6;
}
.task {
  height: 7.7vh;
  width: 94%;
  line-height: 7.7vh;
  vertical-align: middle;
  display: flex;
  margin: 0 3% 0 3%;
  border-bottom: 1px solid rgba(233,233,233,0.9);
}
.task-status img {
  width: 1.9vw;
  height: 3.7vh;
}
.task img {
  width: 1.92vw;
  height: 3.7vh;
  cursor: pointer;
  padding: 2.2vh 0.6vw 0 0;
  margin : 0.3vh 0.4vw 0 0;
}
.task-name {
  height: 7vh;
  width: 93%;
  float: left;
  cursor: pointer;
  vertical-align: middle;
  line-height: 7.2vh;
  padding: 0.7vh 0 0 0.6vw;
  font-size: 15px;
  opacity: 0.7;
  text-decoration: none;
}
.working-area .task-detail {
  height: 95%;
  width: 0%;
  padding: 0%;
  transition: 0.3s;
  float: right;
  background: #F5F5F5;
  overflow-y: auto;
  display: block;
}
.task-header {
  width: 94%;
  background: white;
  padding: 3% 3% 0 3%;
  border: 1px solid rgba(233,233,233,1);
}
.task-title {
  display: flex;
  margin: 0 0 4% 0;
}
.task-status {
  width: 1.9vw;
  padding: 0.15vh 0 0 0.15vw;
  height: 3.7vh;
  margin: 2.7vh 0 0 0;
  position: relative;
}
.task-status-margin {
  margin: 2.7vh 0 0 0.5vw;
}
.task-status-detail-margin {
  margin: 0.6vh 0 0 0.2vw;
}
.task-status label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 2.4vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.2vw;
}

.task-status label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 0.4vh;
  left: 0.3vw;
  opacity: 0;
  position: absolute;
  top: 0.6vh;
  transform: rotate(-45deg);
  width: 0.5vw;
}

.task-status input[type="checkbox"] {
  visibility: hidden;
}

.task-status input[type="checkbox"]:checked + label {
  border-color: #2878D7;
  background: #2878D7;
}

.task-status input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.task-name-detail {
    width: 100%;
    height: 3.7vh;
    padding: 0 0 0 1.1vw;
    vertical-align: middle;
    line-height: 3.7vh;
    font-size: 15px;
    text-decoration: none;
}
.is-favourite {
  width: 1.9vw;
  height: 3.7vh;
}
.is-favourite img {
  width: 1.5vw;
  height: 3vh;
  opacity: 0.7;
}
.step {
  height: 7.7vh;
  width: 94%;
  line-height: 7.7vh;
  vertical-align: middle;
  display: flex;
  margin: 0 1% 0 1%;
  border-bottom: 1px solid rgba(233,233,233,0.9);
}
.step-name {
  height: 7.5vh;
  float: left;
  vertical-align: middle;
  line-height: 7.2vh;
  padding: 0.7vh 0 0 0.6vw;
  font-size: 15px;
  opacity: 0.7;
}
.add-new-step {
  height: 7.7vh;
  width: 94%;
  display: flex;
  margin: 3% 3% 0 3%;
}
.add-step-icon {
  float: left;
  cursor: pointer;
  padding: 2vh 0.6vw 0 0;
}
.add-step-icon img{
    width: 1.8vw;
    height: 3.7vh;
    margin: 0 0 0 -0.5vw;
}
.step-name-input {
  float: left;
  width: 100%;
  padding: 0.7vh 0 0 0.6vw;
  font-size: 15px;
  outline: none;
  border: none;
  opacity: 0.7;
}
.step-name-input::placeholder {
  color: #2878D7;
}
.step-name-input:focus::placeholder {
  color: black;
  opacity: 0.6;
}
