<div class = "side-panel side-panel-closed-width">
    <div class = "menu-button" tabindex="0" role="button" aria-pressed="true">
        <div class = "bars"></div>
        <div class = "bars"></div>
        <div class = "bars"></div>
    </div>
    <div class = "scrollable-area">
        <div class = "side-panel-menu">
        <div class = "icon-div"><div class="icon sun-icon"></div></div>
        <div class = "menu-name margin-when-side-panel-closed" >My Day</div>
        </div>
        <div class = "side-panel-menu">
        <div class = "icon-div"><div class="icon star-icon"></div></div>
        <div class = "menu-name margin-when-side-panel-closed" >Important</div>
        </div>
        <div class = "side-panel-menu">
        <div class = "icon-div"><div class="icon calender-icon"></div></div>
        <div class = "menu-name margin-when-side-panel-closed" >Planned</div>
        </div>
        <div class = "side-panel-menu">
        <div class = "icon-div"><div class="icon user-icon"></div></div>
        <div class = "menu-name margin-when-side-panel-closed" >Assigned to Me</div>
        </div>
        <div class = "side-panel-menu">
        <div class = "icon-div"><div class="icon home-icon"></div></div>
        <div class = "menu-name margin-when-side-panel-closed" >Tasks</div>
        </div>
        <div class = "task-list-collection">
        </div>
    </div>
    <div class = "side-panel-menu">
        <label class = "navigation-button new-list-button" for = "newListInput" >+</label>
        <input type = "text" placeholder = "New list" class = "navigation-detail newListInput" id = "newListInput" />
    </div>
</div>
