<div class = "list-detail list-when-task-side-closed">
    <div class = "list-header">
        <span class = "list-of-task-name">Tasks</span>
        <div class="option-icon"></div>
        <div class="option-icon"></div>
        <div class="option-icon"></div>
    </div>
    <div class = "task-collection">
    </div>
    <div class = "add-new-task">
        <label class = "add-task-icon add-task-plus-icon" for = "new-task-input-box"></label>
        <input (keydown.enter)="onEnterKey($event)" type = "text" placeholder = "Add task" class = "task-name-input"
            id = "new-task-input-box" />
    </div>
</div>
