<div class = "list-detail list-when-side-opened">
    <div class = "list-header">
        <input type = "text" class = "list-of-task-name"
          (keydown.enter)="updateListName(Inputbox)" #Inputbox
          value = "{{dataService.activeList.name}}{{dataService.activeList.nameSuffix}}" />
        <div class="option-icon"></div>
        <div class="option-icon"></div>
        <div class="option-icon"></div>
    </div>
    <div class = "task-collection">
        <div appElementHover class = "task" *ngFor="let task of dataService.activeList.tasks">
            <div class = "task-status task-status-margin">
                <input type = "checkbox" id = {{task.id}} (click)="toggleIsFinished(task)"
                  [checked] = "task.isFinished ? 'checked' : null"/>
                <label for = {{task.id}}></label>
            </div>
            <div [ngClass]="task.isFinished ? 'task-name text-decoration-line' : 'task-name text-decoration-none'"
             (click)="displayTaskDetail(task)" >{{task.name}}</div>
            <div class = "step-count">{{getFinishedStepCount(task)}} of {{task.steps.length}}</div>
        </div>
    </div>
    <div class = "add-new-task">
        <label class = "add-task-icon add-task-plus-icon" for = "new-task-input-box"></label>
        <input (keydown.enter)="createTask(Input)" #Input type = "text" placeholder = "Add task"
            class = "task-name-input" id = "new-task-input-box" />
    </div>
</div>
