<div class = "task-detail task-detail-width-none">
    <div class = "task-header">
        <div class = "task-title">
            <div class = "task-status task-status-detail-margin">
                <input type = "checkbox" id = "task-status-detail-checkbox" />
                <label class = "tast-status-checkbox" for = "task-status-detail-checkbox"></label>
            </div>
            <div class = "task-name-detail text-decoration-none"></div>
            <div class = "is-favourite"></div>
        </div>
        <div class="steps">
        </div>
        <div class = "add-new-step">
            <label class = "add-step-icon" for = "new-step-input-box"></label>
            <input type = "text" placeholder = "Add step" class = "step-name-input" id = "new-step-input-box"/>
        </div>
    </div>
    <div class = "task-footer">
        <div class = "task-detail-delete"></div>
        <div class = "task-detail-panel-close">Close</div>
    </div>
</div>
