@import '../_mixins.scss';
@import '../_variables.scss';

.task-detail {
  height: 95%;
  float: right;
  background: #F5F5F5;
  overflow-y: auto;
  display: block;
}
.task-detail-width-none {
  width: 0%;
  padding: 0%;
}
.task-detail-width {
  width: 25%;
  padding: 1%;
}
.task-header {
  width: 94%;
  background: $color-white;
  padding: 3% 3% 0 3%;
  border: 1px solid rgba(233,233,233,1);
}
.task-title {
  display: flex;
  margin: 0 0 4% 0;
}
.task-status {
  width: 1.9vw;
  padding: 0.15vh 0 0 0.15vw;
  height: 3.7vh;
  margin: 2.7vh 0 0 0;
  position: relative;
}
.task-status-margin {
  margin: 2.7vh 0 0 0.5vw;
}
.task-status-detail-margin {
  margin: 0.6vh 0 0 0.2vw;
}

.task-status input[type="checkbox"] {
  visibility: hidden;
  &:checked + label {
    border-color: $ToDo-blue-color;
    background: $ToDo-blue-color;
  }
  &:checked + label:after {
    opacity: 1;
  }
}

.task-name-detail {
  width: 78%;
  height: 3.7vh;
  padding: 0 0 0 2%;
  font-weight: 550;
  vertical-align: middle;
  line-height: 3.7vh;
  font-size: 15px;
  border: none;
  outline: none;
  color: rgba(66,66,66,1);
  &:focus {
    text-decoration: none;
    border: 1px solid rgba(66,66,66,1);
  }
}
.text-decoration-none {
  text-decoration: none;
}
.text-decoration-line {
  text-decoration: line-through;
}
.is-favourite {
  width: 1.4vw;
  height: 2.9vh;
  opacity: 0.5;
  background-image: url("/assets/star.png");
  background-size: cover;
}
.step {
  height: 7.7vh;
  width: 94%;
  line-height: 7.7vh;
  vertical-align: middle;
  display: flex;
  margin: 0 1% 0 1%;
  border-bottom: 1px solid rgba(233,233,233,0.9);
  &:hover {
    background: rgba(233,233,233,0.5);
  }
  &:hover + .step-delete {
    visibility: visible;
  }
}
.step-status {
  width: 1.9vw;
  padding: 0.15vh 0 0 0.15vw;
  height: 3.7vh;
  margin: 2.7vh 0 0 0;
  position: relative;
  margin: 2.7vh 0 0 0;
}

.step-status input[type="checkbox"] {
  visibility: hidden;
  &:checked + label {
    border-color: $ToDo-blue-color;
    background: $ToDo-blue-color;
  }
  &:checked + label:after {
    opacity: 1;
  }
}

.step-name {
  height: 7.5vh;
  float: left;
  width: 98%;
  vertical-align: middle;
  line-height: 7.2vh;
  padding: 0.7vh 0 0 0.6vw;
  font-size: 15px;
  opacity: 0.7;
  &:hover + .step-delete {
    visibility: visible;
  }
}
.step-delete {
  margin: 2.5vh 0 0 0;
  height: 25px;
  width: 25px;
  background-image: url("/assets/close.png");
  background-size: cover;
  visibility: hidden;
  cursor: pointer;
  &:hover {
    visibility: visible;
    cursor: pointer;
  }
}
.add-new-step {
  height: 7.7vh;
  width: 94%;
  display: flex;
  margin: 3% 3% 0 3%;
}
.add-step-icon {
  float: left;
  cursor: pointer;
  width: 1.8vw;
  height: 3.7vh;
  margin: 2.2vh 0.5vw 0 -0.2vw;
  background-image: url("/assets/plus.png");
  background-size: cover;
}
.step-name-input {
  float: left;
  width: 100%;
  padding: 0.7vh 0 0 0.6vw;
  font-size: 15px;
  outline: none;
  border: none;
  opacity: 0.7;
}
.step-name-input::placeholder {
  color: $ToDo-blue-color;
}
.step-name-input:focus::placeholder {
  color: $color-black;
  opacity: 0.6;
}
.task-footer {
  width: 100%;
  background: $color-white;
  height: 7vh;
  .task-detail-delete {
    @include delete-close-icon(right, 0.7vh 0.5vw 0 0, url(/assets/trash.png)); 
  }
  .task-detail-panel-close {
    @include delete-close-icon(left, 2% 0 0 4%, url(/assets/panelClose.png));
  }
}
.warning-message {
  font-weight: 700;
  font-size: 14px;
}
.modal {
  position: fixed; 
  z-index: 2;
  padding-top: 20%; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: $color-black; 
  background-color: rgba(0,0,0,0.4);
}
.model-display-none {
  display: none;
}
.model-display-block {
  display: block;
}
.modal-content {
  background-color: $color-white;
  margin: auto;
  padding: 10px;
  line-height: 30px;
  border: 1px solid #888;
  height: 20%;
  font-size: 14px;
  text-align: center;
  width: 20%;
  border-radius: 4px;
}
.cancel-button {
  background:#EDEDED;
  color: #34373d;
  float: right;
  width: 60px;
  height: 30px;
  border-radius: 3px;
  font-size: 13px;
  border: none;
  margin: 12% 5% 0 0;
  font-weight: 550;
  &:hover {
    color: $color-black;
    border: 1px solid $color-black;
    cursor: pointer;
  }
}
.delete-button {
  background:#db3a29;
  color: $color-white;
  width: 90px;
  height: 30px;
  display: block;
  float: right;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  margin: 12% 5% 0 0;
  font-weight: 600;
  &:hover {
    background:#AF2E20;
    cursor: pointer;
  }
}